// color
$darkBg: #2d3a4b;
$white: #ffffff;

.font-size-default {
    font-size: 16px;
}

.mb-none {
    margin-bottom: 0;
}

.ml-none {
    margin-left: 0;
}
.ml-small {
    margin-left: 10px;
}
.ml-default {
    margin-left: 20px;
}
.click{
    cursor: pointer;
}